Repository TIS2021-FMFI/pomocky-a-skolenia, pull requests merged in 2022-02, with the labels that each got.

#99 FE: Sticky sidebar columns
  frontend/src/pages/components/EmployeeTableWrapper.tsx
  frontend/src/pages/main/EmployeeTab.tsx
  frontend/src/pages/main/MainPage.tsx
Labels: frontend

#100 Be/delete user notif csv
  backend/createScript.txt
  backend/database/model/user.js
  backend/server.js
Labels: databáza, backend

#107 zabudnute heslo
  frontend/src/helpers/requests.ts
  frontend/src/pages/login/LoginPage.tsx
  frontend/src/pages/login/LoginStyle.css
  frontend/src/types.ts
Labels: help wanted

#108 zabudnute heslo
  frontend/src/types.ts
Labels: help wanted

#115 FE: Uprava titlu a loga karty
  frontend/public/index.html
  frontend/public/logo-white.ico
Labels: frontend

#119 Be/cleanup
  .gitignore
  backend/generate.txt
  backend/token.txt
Labels: backend

#120 Be/readme and createscript
  backend/README.md
  backend/admin.js
  backend/createScript.sql
  backend/package.json
  backend/readme.txt
Labels: backend

#121 FE: Zmazanie nefunkcneho buttonu
  frontend/src/pages/main/AccountManagementTab.tsx
Labels: frontend

#122 Technická dokumentácia
  Technická dokumentácia .pdf
Labels: documentation
