Repository TIS2021-FMFI/pomocky-a-skolenia, pull requests merged in 2022-01, with the labels that each got.

#52 pridávanie, uprava a mazanie zamestnanca
  backend/server.js
Labels: backend

#57 pradanie, zmazanie, uprava skolenia
  backend/server.js
Labels: backend

#58 Fe: pridanie a uprava skolenia
  frontend/package-lock.json
  frontend/public/manifest.json
  frontend/src/constants.ts
  frontend/src/helpers/requests.ts
  frontend/src/pages/components/DropdownWithAdd.tsx
  frontend/src/pages/components/EmployeeModal.tsx
  frontend/src/pages/components/MyRadio.tsx
  frontend/src/pages/components/MyTextField.tsx
  frontend/src/pages/components/SkoleniaDropdown.tsx
  frontend/src/pages/components/SkolenieModal.tsx
  frontend/src/pages/components/UpravSkolenieModal.tsx
  frontend/src/pages/main/CoursesTab.tsx
  frontend/src/pages/main/MainPage.tsx
  frontend/src/schemas.ts
  frontend/src/store/store.ts
  frontend/src/types.ts
Labels: frontend

#60 be/školenia pre zamestnanov
  backend/server.js
Labels: backend

#61 autorizacia cez token
  backend/config.json
  backend/database/database.js
  backend/database/model/oblast.js
  backend/database/model/skolenia.js
  backend/database/model/user.js
  backend/database/model/zamestnanci.js
  backend/database/queries.js
  backend/functions.js
  backend/middleware/auth.js
  backend/middleware/csvwriter.js
  backend/middleware/todos.csv
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/token.txt
Labels: backend

#62 Fe: Napojenie na be endpointy
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/store.ts
  frontend/src/features/konciaceSkoleniaSlice.ts
  frontend/src/features/oblastiSlice.ts
  frontend/src/features/skoleniaSlice.ts
  frontend/src/features/skoleniaZamestnancovSlice.ts
  frontend/src/features/zamestnanciSlice.ts
  frontend/src/helpers/exportAsCSV.ts
  frontend/src/helpers/requests.ts
  frontend/src/index.js
  frontend/src/index.tsx
  frontend/src/pages/components/BeforeExpireTableWrapper.tsx
  frontend/src/pages/components/CoursesTableWrapper.tsx
  frontend/src/pages/components/EmployeeModal.tsx
  frontend/src/pages/components/MultiSelect.tsx
  frontend/src/pages/components/PridajSkolenieZamestnancoviModal.tsx
  frontend/src/pages/components/RemoveEmployeeModal.tsx
  frontend/src/pages/components/SkolenieModal.tsx
  frontend/src/pages/components/UpravSkolenieModal.tsx
  frontend/src/pages/main/CoursesBeforeExpireTab.tsx
  frontend/src/pages/main/CoursesTab.tsx
  frontend/src/pages/main/EmployeeTab.tsx
  frontend/src/pages/main/MainPage.tsx
  frontend/src/store/store.ts
  frontend/src/testData.ts
  frontend/src/types.ts
Labels: frontend

#64 reset a update hesla
  backend/config.json
  backend/database/model/skolenia.js
  backend/database/model/user.js
  backend/functions.js
  backend/middleware/csvwriter.js
  backend/middleware/mailer.js
  backend/middleware/todos.csv
  backend/package-lock.json
  backend/package.json
  backend/server.js
Labels: backend

#67 BE: heroku setup
  backend/package.json
  backend/server.js
Labels: backend

#68 BE: Heroku fix
  package.json
Labels: backend

#66 FE: Modal height fix
  frontend/src/pages/components/Modal.module.css
Labels: frontend

#75 FE: Uprava podla poziadaviek
  frontend/src/App.js
  frontend/src/pages/components/BeforeExpireTableWrapper.tsx
  frontend/src/pages/components/CoursesTableWrapper.tsx
  frontend/src/pages/components/EmployeeTableWrapper.tsx
  frontend/src/pages/main/CoursesTab.tsx
Labels: frontend

#76 FE/BE: Dokoncenie tabulky konciacich skoleni
  backend/database/model/skolenia.js
  frontend/src/helpers/requests.ts
  frontend/src/pages/components/BeforeExpireTableWrapper.tsx
  frontend/src/pages/components/MultiSelect.tsx
  frontend/src/pages/main/CoursesBeforeExpireTab.tsx
  frontend/src/pages/main/CoursesTab.tsx
  frontend/src/pages/main/EmployeeTab.tsx
Labels: backend, frontend

#80 FE: Login page
  frontend/src/App.js
  frontend/src/app/store.ts
  frontend/src/features/loginSlice.ts
  frontend/src/pages/login/LoginPage.tsx
  frontend/src/schemas.ts
Labels: frontend

#82 FE: pridanie chybajucej diakritiky
  frontend/src/pages/main/EmployeeTab.tsx
Labels: frontend

#83 Be/registracia
  backend/database/model/user.js
Labels: backend

#89 vytvorenie tabu na zmenu hesla a pridanie uzivatela
  backend/database/model/user.js
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/features/loginSlice.ts
  frontend/src/helpers/requests.ts
  frontend/src/pages/login/LoginPage.tsx
  frontend/src/pages/main/AccountManagementStyle.css
  frontend/src/pages/main/AccountManagementTab.tsx
  frontend/src/pages/main/CoursesBeforeExpireTab.tsx
  frontend/src/pages/main/CoursesTab.tsx
  frontend/src/types.ts
Labels: frontend

#92 be-logger
  backend/config.json
  backend/database/model/skolenia.js
  backend/database/model/user.js
  backend/database/model/zamestnanci.js
  backend/middleware/logger.js
  backend/package.json
  backend/server.js
Labels: backend

#93 BE: Admin fix
  backend/database/model/user.js
  backend/package-lock.json
Labels: backend

#94 FE: Oprava diakritiky a sticky bocna lista s menami
  frontend/src/helpers/keysToText.ts
  frontend/src/pages/components/CoursesTableWrapper.tsx
  frontend/src/pages/components/EmployeeModal.tsx
  frontend/src/pages/components/SkoleniaDropdown.tsx
  frontend/src/pages/main/AccountManagementTab.tsx
Labels: frontend
